::-webkit-scrollbar {
  width: 0;
}

.navBar{
  background-color: #73A9AD;
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0px 5px 47px -1px rgba(0,0,0,0.32);
}

.nameLogo{
  flex: 1;
}

.addEvent, .profile, .notifications{
  height: 1.5 em;
  background-color: #73A9AD;
  border: none;
  margin-right: 1em;
  padding: 1em;
}
.TodayCard{
  background-color: yellow;
  z-index: 0;
  padding: 2em;
  width: fit-content;
  border-radius: 1em;
  user-select: none;
}
.todayCardContainer{
  width: 100%;
  margin: 3em;
  display: flex;
  gap: 1em;
  overflow-x: auto;
}
.todayGradient{
  position: absolute;
  height: 260px;
  width: 100px;
  right: 0%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 75%);

}